<%if winner? %></br></br> WE HAVE A WINNER!!!! (or maybe you're just the only person in this game at the moment...) </br></br><%end%>

Welcome to game <%=@game.id%>!</br>
Players:</br>
<%@game.players.all.each do |player|%>
  <%=player.name%>: <%=player.number_of_dice%> dice.<%if @current_player == player %><%="***"%><%end%></br>
<%end%>
</br>

<div class="play">
  <h4>
    Ahoy me hearty! <%= @player.name %>, ye must roll yer dice an make yer claim before yer made to walk the plank to visit Davy Jones' Locker!  Savvy?
  </h4>
  <div class="container">
    <div class="dice">
        <h3>Your dice rolls</h3>
        <span id="die1"></span>
        <span id="die2"></span>
        <span id="die3"></span>
        <span id="die4"></span>
        <span id="die5"></span>
    </div>

<%if i_am_the_current_player? %>
  <%= erb :_my_turn%>
<%end%>

  <div class="exit">
    <form action="/exit" method="get">
      <input type="submit" value="Quit Game">
    </form>
  </div>
</div>
