Welcome to game <%=@game.id%>!</br>
Players:</br>
<%@game.players.all.each do |player|%>
  <%=player.name%>: <%=player.number_of_dice%> dice.<%if @current_player == player %><%="***"%><%end%></br>
<%end%>
</br>
  <div class="exit">
    <form action="/play" method="post">
      <input type="submit" value="Refesh">
    </form>
  </div>
<p>
  Ahoy me hearty! <%= @player.name %>, ye must roll yer dice an make yer claim before yer made to walk the plank to visit Davy Jones' Locker!  Savvy?
</p>
<div class="container">
  <h3>Your dice rolls</h3>
  <div class="dice">
     <%= @player.current_roll %>
      <p id="one">
        1's:
      </p>
      <p id="two">
        2's:
      </p>
      <p id="three">
        3's:
      </p>
      <p id="four">
        4's:
      </p>
      <p id="five">
        5's:
      </p>
      <p id="six">
        6's:
      </p>
  </div>
<%if @current_player_boolean %>
<%= erb :_my_turn%>
<%end%>

  <div class="exit">
    <form action="/exit" method="get">
      <input type="submit" value="Quit Game">
    </form>
  </div>
</div>